<div class="relative">
  <button
    class="border border-dn-outline-border rounded p-1.5 text-left flex items-center justify-between"
    [ngClass]="[
      width ? width : 'w-48',
      isDarkTheme ? 'bg-dn-layer-2-dark text-white' : 'bg-dn-input text-black'
    ]"
    (click)="isOpen = !isOpen"
  >
    <span>{{ selectedItemsString }}</span>

    <!-- 下向き矢印のアイコン -->
    <span
      class="inline-block w-2 h-2 border-t-2 border-l-2 border-dn-line transform rotate-[-135deg]"
    ></span>
  </button>

  @if (isOpen) {
    <ul
      class="absolute w-full border border-dn-outline-border rounded max-h-48 overflow-y-auto"
      [ngClass]="isDarkTheme ? 'bg-dn-layer-2-dark' : 'bg-dn-layer-2'"
    >
      @for (item of listItems; track item.id) {
        <li
          class="flex items-center px-4 py-1.5 hover:opacity-70 cursor-pointer"
          [ngClass]="isDarkTheme ? 'text-white' : 'text-black'"
        >
          <!-- チェックボックス -->
          @if (isMulch) {
            <app-checkbox
              [label]="item.label"
              [value]="item.id"
              [name]="'pull-down-checkbox'"
              [checked]="isItemSelected(item)"
              (checkedChange)="selectItem(item, $event)"
            />
          } @else {
            <span>{{ item.label }}</span>
          }
        </li>
      }
    </ul>
  }
</div>
