<div class="relative">
  <button
    class="bg-dn-input text-black border border-dn-outline-border rounded p-2 text-left flex items-center justify-between"
    [ngClass]="width ? width : 'w-48'"
    (click)="isOpen = !isOpen"
  >
    <span>{{ selectedItem?.label || '選択してください' }}</span>

    <!-- 下向き矢印のアイコン -->
    <span
      class="inline-block w-2 h-2 border-t-2 border-l-2 border-dn-line transform rotate-[-135deg]"
    ></span>
  </button>

  @if (isOpen) {
    <ul
      class="absolute w-full bg-dn-layer-2 border border-dn-outline-border rounded"
      [ngClass]="width"
    >
      @for (item of listItems; track item.id) {
        <li
          class="px-4 py-2 text-black hover:opacity-70 cursor-pointer"
          (click)="selectItem(item)"
        >
          {{ item.label }}
        </li>
      }
    </ul>
  }
</div>
