<div class="relative">
  <button
    class="border border-dn-outline-border rounded p-1.5 text-left flex items-center justify-between"
    [ngClass]="[
      width ? width : 'w-48',
      isDarkTheme ? 'bg-dn-layer-2-dark text-white' : 'bg-dn-input text-black'
    ]"
    (click)="isOpen = !isOpen"
  >
    <span>{{ selectedItemsString }}</span>

    <!-- 下向き矢印のアイコン -->
    <span
      class="inline-block w-2 h-2 border-t-2 border-l-2 border-dn-line transform rotate-[-135deg]"
    ></span>
  </button>

  @if (isOpen) {
    <ul
      class="absolute w-full border border-dn-outline-border rounded max-h-48 overflow-y-auto"
      [ngClass]="isDarkTheme ? 'bg-dn-layer-2-dark' : 'bg-dn-layer-2'"
    >
      @for (item of listItems; track item.id) {
        <li
          class="flex items-center px-4 py-1.5 hover:opacity-70 cursor-pointer"
          [ngClass]="isDarkTheme ? 'text-white' : 'text-black'"
          (click)="selectItem(item)"
        >
          <!-- チェックボックス -->
          @if (isMulch) {
            <label class="flex items-center mr-2 cursor-pointer">
              <input
                type="checkbox"
                [checked]="isSelected(item)"
                class="hidden peer"
              />
              <span
                class="w-4 h-4 border border-dn-primary-2 rounded flex items-center justify-center peer-checked:bg-dn-primary-1 peer-checked:border-dn-primary-1"
              >
                @if (item) {
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-3 h-3 text-white"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M5 13l4 4L19 7"
                    />
                  </svg>
                }
              </span>
            </label>
          }
          <span>{{ item.label }}</span>
        </li>
      }
    </ul>
  }
</div>
