<div class="w-full h-[100vh] overflow-x-auto bg-dn-layer-1">
  <div class="min-w-dn-base-width">
    <app-header />
    <app-title [title]="title" [editingUsers]="editingUsers">
      <!-- フォント切り替えボタンをfont-size-buttonスロットに挿入 -->
      <font-size-changer font-size-button [isDarkTheme]="isDarkTheme" />
    </app-title>
    <div class="pt-2 pb-4 px-6">
      <notice />
    </div>
    <div class="flex w-full">
      <div class="border-b border-dn-primary-1">
        <navigation-menu />
      </div>
      <tab-menu class="w-full" />
    </div>
    <router-outlet />
  </div>
</div>
