@if (isVisible) {
  <div class="flex items-center justify-between bg-dn-layer-3 p-2.5 rounded">
    <div class="flex items-center w-4/5">
      <!-- お知らせ内容 -->
      <div class="flex flex-1 items-center gap-2">
        <div class="text-dn-primary-1">■</div>
        <div class="truncate">{{ notice }}</div>
      </div>
      <div class="ml-4">他{{ noticeCount }}件</div>
      <button
        class="ml-6 border border-dn-line px-4 py-1 rounded-2xl hover:opacity-40 transition"
        (click)="navigate()"
      >
        一覧を見る
      </button>
    </div>

    <!-- 閉じるボタン -->
    <button
      class="flex items-center justify-center w-8 h-8 rounded-full hover:opacity-40 transition"
      aria-label="メニューを閉じる"
      (click)="onCloseNotice()"
    >
      <span class="block relative w-4 h-4">
        <span
          class="block w-full h-0.5 bg-dn-line rotate-45 absolute top-1/2 left-0 transform -translate-y-1/2"
        ></span>
        <span
          class="block w-full h-0.5 bg-dn-line -rotate-45 absolute top-1/2 left-0 transform -translate-y-1/2"
        ></span>
      </span>
    </button>
  </div>
}
