<app-title [title]="title" [editingUsers]="editingUsers">
  <!-- 編集中のユーザーリストをediting-usersスロットに挿入 -->
  <concurrent-edit editing-users [editingUsers]="editingUsers" />

  <!-- フォント切り替えボタンをfont-size-buttonスロットに挿入 -->
  <button
    font-size-button
    (click)="toggleFontSizeChanger()"
    class="relative px-4 py-2 bg-blue-500 text-white rounded shadow-md hover:bg-[#FFFFFFB3]"
  >
    変更
    @if (isFontSizeChangerVisible) {
      <font-size-changer [isDarkTheme]="isDarkTheme" />
    }
  </button>
</app-title>
