<div class="flex flex-col gap-1 text-black">
  <!-- 小ボタン -->
  <button
    class="w-14 h-7 text-center bg-dn-layer-2 rounded-md text-xs"
    [ngClass]="{
      'bg-dn-primary-3 text-white': (fontSizeType$ | async) === 'small',
      'border-2 border-dn-primary-1': (fontSizeType$ | async) === 'small'
    }"
    (click)="changeFontSize('small')"
  >
    小
  </button>

  <!-- 推奨ボタン -->
  <button
    class="w-14 h-7 text-center bg-dn-layer-2 rounded-md"
    [ngClass]="{
      'bg-dn-primary-3 text-white': (fontSizeType$ | async) === 'default',
      'border-2 border-dn-primary-1': (fontSizeType$ | async) === 'default'
    }"
    (click)="changeFontSize('default')"
  >
    推奨
  </button>

  <!-- 大ボタン -->
  <button
    class="w-14 h-7 text-center bg-dn-layer-2 rounded-md"
    [ngClass]="{
      'bg-dn-primary-3 text-white': (fontSizeType$ | async) === 'large',
      'border-2 border-dn-primary-1': (fontSizeType$ | async) === 'large'
    }"
    (click)="changeFontSize('large')"
  >
    大
  </button>
</div>
