<button
  (click)="toggleFontSizeChanger()"
  class="relative px-4 py-2 bg-blue-500 text-white rounded shadow-md hover:bg-[#FFFFFFB3]"
>
  変

  @if (isFontSizeChangerVisible) {
    <div
      class="absolute top-[110%] left-1/2 transform -translate-x-1/2 rounded p-1.5 border flex flex-col gap-1 z-10"
      [ngClass]="{
        'bg-dn-layer-3 shadow-lg border-gray-300 text-black': !isDarkTheme,
        'bg-dn-layer-3-dark shadow-lg border-gray-700 text-white': isDarkTheme
      }"
    >
      <!-- 小ボタン -->
      <button
        class="w-14 h-7 text-center rounded-md text-xs"
        [ngClass]="{
          'bg-dn-layer-2': !isDarkTheme,
          'bg-dn-layer-2-dark text-white': isDarkTheme,
          'bg-dn-primary-3 text-white border-2 border-dn-primary-1':
            (fontSizeType$ | async) === FontSizeType.Small
        }"
        (click)="changeFontSize(FontSizeType.Small)"
      >
        {{ FontSizeTypeDisplay[FontSizeType.Small] }}
      </button>

      <!-- 推奨ボタン -->
      <button
        class="w-14 h-7 text-center rounded-md"
        [ngClass]="{
          'bg-dn-layer-2': !isDarkTheme,
          'bg-dn-layer-2-dark text-white': isDarkTheme,
          'bg-dn-primary-3 text-white border-2 border-dn-primary-1':
            (fontSizeType$ | async) === FontSizeType.Recommendation
        }"
        (click)="changeFontSize(FontSizeType.Recommendation)"
      >
        {{ FontSizeTypeDisplay[FontSizeType.Recommendation] }}
      </button>

      <!-- 大ボタン -->
      <button
        class="w-14 h-7 text-center rounded-md"
        [ngClass]="{
          'bg-dn-layer-2': !isDarkTheme,
          'bg-dn-layer-2-dark text-white': isDarkTheme,
          'bg-dn-primary-3 text-white border-2 border-dn-primary-1':
            (fontSizeType$ | async) === FontSizeType.Large
        }"
        (click)="changeFontSize(FontSizeType.Large)"
      >
        {{ FontSizeTypeDisplay[FontSizeType.Large] }}
      </button>
    </div>
  }
</button>
