<div class="flex justify-around w-full">
  <div
    class="p-4 shadow-md rounded-lg max-w-md"
    [ngClass]="isDarkTheme ? 'bg-black' : 'bg-white'"
  >
    <h2
      class="text-xl font-bold mb-4"
      [ngClass]="isDarkTheme ? 'text-white' : 'text-black'"
    >
      Single Version Checkbox Sample
    </h2>

    <div class="flex flex-col gap-1">
      @for (checkbox of singleCheckboxes; track $index; let index = $index) {
        <app-checkbox
          [label]="checkbox.label"
          [isChecked]="checkbox.isChecked"
          [value]="checkbox.value"
          [name]="checkbox.name"
          [isDisabled]="checkbox.isDisabled"
          [isDarkTheme]="isDarkTheme"
          (isCheckedChange)="onChangeSingleTypeCheckbox(index, $event)"
        />
      }
    </div>

    <div [ngClass]="isDarkTheme ? 'text-white' : 'text-black'">
      <p class="mt-2">選択された状態:</p>
      <ul class="mt-2">
        @for (checkbox of singleCheckboxes; track $index; let index = $index) {
          <li>
            {{ checkbox.label }}:
            {{
              checkbox.isChecked
                ? 'チェックされています'
                : 'チェックされていません'
            }}
          </li>
        }
      </ul>
    </div>
  </div>

  <div
    class="p-4 shadow-md rounded-lg max-w-md"
    [ngClass]="isDarkTheme ? 'bg-black' : 'bg-white'"
  >
    <h2
      class="text-xl font-bold mb-4"
      [ngClass]="isDarkTheme ? 'text-white' : 'text-black'"
    >
      Multiple Version Checkboxes Sample
    </h2>

    <div class="flex flex-col gap-1">
      @for (checkbox of mulchCheckboxes; track $index; let index = $index) {
        <app-checkbox
          [label]="checkbox.label"
          [isChecked]="checkbox.isChecked"
          [value]="checkbox.value"
          [name]="checkbox.name"
          [isDisabled]="checkbox.isDisabled"
          [isDarkTheme]="isDarkTheme"
          (isCheckedChange)="onChangeMulchTypeCheckbox(index, $event)"
        />
      }
    </div>

    <div [ngClass]="isDarkTheme ? 'text-white' : 'text-black'">
      <p class="mt-2">選択された状態:</p>
      <ul class="mt-2">
        @for (checkbox of mulchCheckboxes; track $index; let index = $index) {
          <li>
            {{ checkbox.label }}:
            {{
              checkbox.isChecked
                ? 'チェックされています'
                : 'チェックされていません'
            }}
          </li>
        }
      </ul>
    </div>
  </div>
</div>
