// ツールチップのスタイル
.dn-i-tooltip {
  position: relative;
  cursor: pointer;

  // ツールチップがホバーされたときのスタイル
  &[data-tooltip-text]:hover::after {
    content: attr(data-tooltip-text); // 完全なラベルを表示
    position: absolute;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: normal;
    padding: 4px 8px;
    line-height: 24px;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s;

    // 親要素（タブ）の幅に合わせる
    width: 100%; // 親要素の幅を使用
    max-width: none; // 最大幅の制限を解除
    white-space: pre-wrap;
    overflow-wrap: break-word; // 長い単語を折り返し
  }

  // ツールチップが非表示のデフォルトスタイル
  &::after {
    content: '';
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 1;
  }

  // ツーチップの横幅をコンテンツに合わせる
  &--content-width {
    &[data-tooltip-text]:hover::after {
      width: max-content;
    }
  }

  // 上に表示するスタイル
  &--top {
    &[data-tooltip-text]:hover::after {
      bottom: 100%; // 要素の上に表示
      left: 50%;
      transform: translateX(-50%);
    }
  }

  // 下に表示するスタイル
  &--bottom {
    &[data-tooltip-text]:hover::after {
      top: 100%; // 要素の下に表示
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
