.s_section {
  margin: 0 auto;
  padding: 2rem 0px;
}

.gutter > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.tabs-container {
  border-bottom: 1px solid #106ACC; /* タブ全体の下線色 */
}

.tabs-nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tabs-nav li {
  display: inline-block;
  margin: 0 0 0 5px;
  padding: 5px 15px 3px 15px;
  border: 1px solid #BFBFBF; /* 未選択タブのボーダー色 */
  border-bottom: none; /* タブ下のボーダーを消す */
  cursor: pointer;
  background-color: #f7f7f7; /* 未選択タブの背景色 */
  color: #0f0f0f; /* 未選択タブの文字色 */
  transition: background-color 0.3s, opacity 0.3s, border-color 0.3s;
  border-top-left-radius: 8px; /* 左上の角を丸く */
  border-top-right-radius: 8px; /* 右上の角を丸く */
}

/* ホバー時の不透明度 */
.tabs-nav li:hover {
  opacity: 0.7;
}

/* 選択されたタブのスタイル */
.tabs-nav li.active-tab {
  background-color: #032a58; /* 選択タブの背景色 */
  color: #ffffff; /* 選択タブの文字色 */
  padding-bottom: 4px;
  margin-bottom: -1px;
  border: 2px solid #106ACC; /* 選択されたタブのボーダー色と太さ */
  border-bottom: none; /* タブ下のボーダーを消す */
  border-top-left-radius: 8px; /* 左上の角を丸く */
  border-top-right-radius: 8px; /* 右上の角を丸く */
}
