<div class="mx-auto">
  <ul class="flex list-none p-0 m-0 border-b border-dn-primary-1">
    @for (tab of tabs; track $index; let index = $index) {
      <li
        class="dn-i-tooltip dn-i-tooltip--top"
        [ngClass]="{
          'text-[#0F0F0F66]': tab.isDisabled
        }"
        (click)="selectTab(index)"
        [attr.data-tooltip-text]="getTooltipLabel(tab.label)"
      >
        <button
          [ngClass]="{
            'bg-dn-primary-3 text-white !border-2 !border-dn-primary-1 pb-2 mb-[-1px]':
              isActive(index),
            'bg-dn-layer-2 ': !isActive(index) && !isDarkMode,
            'bg-dn-layer-2-dark !text-white ': !isActive(index) && isDarkMode,
            '!cursor-not-allowed': tab.isDisabled
          }"
          [disabled]="tab.isDisabled"
          class="whitespace-nowrap cursor-pointer inline-block px-8 py-2 !border border-dn-outline-border !border-b-0 transition-colors ml-1.5 rounded-t-lg hover:opacity-70"
        >
          {{ getTruncatedLabel(tab.label).display }}
        </button>
      </li>
    }
  </ul>
</div>
