<div class="mx-auto">
  <div class="border-b border-[#106ACC]">
    <ul class="flex list-none p-0 m-0">
      @for (tab of tabs; track $index; let index = $index) {
        <li
          class="dn-i-tooltip"
          [class.opacity-40]="tab.isDisabled"
          (click)="selectTab(index)"
          [attr.data-tooltip-text]="getTooltipLabel(tab.label)"
        >
          <button
            class="overflow-hidden text-ellipsis whitespace-nowrap"
            [ngClass]="{
              'bg-[#032A58] text-white border-2 border-[#106ACC]':
                isActive(index) && !tab.isDisabled,
              'bg-[#F7F7F7] text-[#060505] border border-[#BFBFBF]':
                !isActive(index),
              'cursor-not-allowed': tab.isDisabled
            }"
            [disabled]="tab.isDisabled"
            [style.padding-bottom]="isActive(index) ? '8px' : ''"
            [style.margin-bottom]="isActive(index) ? '-1px' : ''"
            class="cursor-pointer inline-block px-8 py-2 border-b-0 transition-colors ml-1.5 rounded-t-lg hover:opacity-70"
          >
            {{ getTruncatedLabel(tab.label).display }}
          </button>
        </li>
      }
    </ul>
  </div>
</div>
