<div class="bg-gray-950 text-white p-6">
  <a
    [routerLink]="'/sample-links'"
    class="block text-center text-3xl font-bold mb-6"
  >
    Sample Links
  </a>
  <nav>
    <ul
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
    >
      <li *ngFor="let link of links" class="flex">
        <a
          [routerLink]="link.path"
          routerLinkActive="active"
          class="block bg-white text-gray-700 p-6 rounded-lg shadow-md text-center w-full hover:bg-gray-500 hover:text-white transition-transform transform hover:scale-105"
        >
          {{ link.name }}
        </a>
      </li>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>
