<div class="flex flex-col items-start">
  <!-- DummyText -->
  <p>DummyTextDummyTextDummyTextDummyTextTextDummyTextTextDummyText</p>
  <p>DummyTextDummyTextDummyTextDummyTextTextDummyTextTextDummyText</p>
  <p>DummyTextDummyTextDummyTextDummyTextTextDummyTextTextDummyText</p>
  <p>DummyTextDummyTextDummyTextDummyTextTextDummyTextTextDummyText</p>
  <p>DummyTextDummyTextDummyTextDummyTextTextDummyTextTextDummyText</p>

  <!-- font-size-changerを表示するボタン -->
  <button
    (click)="toggleFontSizeChanger()"
    class="relative px-4 py-2 bg-blue-500 text-white rounded shadow-md hover:bg-blue-600"
  >
    変更
    @if (isFontSizeChangerVisible) {
      <font-size-changer [isDarkTheme]="isDarkTheme" />
    }
  </button>
</div>
