<!-- navigation-menu-feat.component.html -->
<div class="relative">
  <!-- ダミー上 -->
  <div>DummyTextTopDummyTextTopDummyTextTopDummyTextTop</div>
  <div>DummyTextTopDummyTextTopDummyTextTopDummyTextTop</div>
  <div>DummyTextTopDummyTextTopDummyTextTopDummyTextTop</div>

  <!-- メニュー -->
  <navigation-menu />

  <!-- ダミー下 -->
  <div>DummyTextBottomDummyTextBottomDummyTextBottomDummyTextBottom</div>
  <div>DummyTextBottomDummyTextBottomDummyTextBottomDummyTextBottom</div>
  <div>DummyTextBottomDummyTextBottomDummyTextBottomDummyTextBottom</div>
  <div>DummyTextBottomDummyTextBottomDummyTextBottomDummyTextBottom</div>
  <div>DummyTextBottomDummyTextBottomDummyTextBottomDummyTextBottom</div>
  <div>DummyTextBottomDummyTextBottomDummyTextBottomDummyTextBottom</div>
  <div>DummyTextBottomDummyTextBottomDummyTextBottomDummyTextBottom</div>
  <div>DummyTextBottomDummyTextBottomDummyTextBottomDummyTextBottom</div>
  <div>DummyTextBottomDummyTextBottomDummyTextBottomDummyTextBottom</div>
  <div>DummyTextBottomDummyTextBottomDummyTextBottomDummyTextBottom</div>
</div>
